:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --dark-title-color: #212121;
  --light-title-color: #ffffff;
  --text-color: #757575;
  --accent-color: #2196F3;}

  body {
      font-family: var(--main-font);
      color: var(--accent-color);
  }

  
  /* ШАПКА САЙТА */

.navigation-link-item {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
  }

  

/* ПОРТФОЛИО */